html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header h1{
    font-weight: 400;
}
header{
    display:flex;
    justify-content: space-between;
    margin: 0 10rem;

}
nav{
    position:relative;
    top:1rem;
    right:3rem;
    width:20rem;

}
ul{
    display:flex;
    justify-content: space-between;
}
li{
    list-style:none;
    font-size:1.5rem;
    
    
}
.showcase_image{
    
    width:95vw;
    margin:1rem;

}
.main{
    display:flex;
    
}
.content{
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
    font-size: 1.1rem;
}
footer{
    background-color: black;
    height: 4rem;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;

}
a:hover{
    color: aqua;
}
a{
    text-decoration: none;
    color: black;
    
}
